{% extends "base/base.html"%}
{% block content %}


{% if user.is_authenticated%}
     
    <h2 class="text-capitalize text-center mt-5 fs-1 fw-bolder">Hello,{{user.username}} </h2>

    <div class="container">
        
        <center>
            <form action="{% url 'search' %}"  method="POST">
                {% csrf_token %}
                <div class="search_wrap search_wrap_3">
                    <div class="search_box">
                        <input type="search" class="input" name="searched" aria-label="Search" placeholder="Search For a User using Email/Username/Age ">
                        <div class="btn btn_common">
                            <button type="submit"> <i class="fas fa-search" style="font-size: 21px; font-weight: 900; color: aqua;"></i></button>
                          
                        </div>
                    </div>
                </div>
            </form>
        </center>
    </div>
{% else %}

<center class="LS_msg">
    <h2 class="mt-3">Please Login/SignUp to View Content</h2>
</center>

    
{% endif %}    
{% endblock content %}
